@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fashion</title>
</head>
<body>
    <div class="container">
        <div class="section-heading text-center">
             <p id="p2">database is not added yet so no information about fashion events here</p> 
        </div>
      
 
 <footer>
        <section>
        <div class="row">
            <div class="col-md-4">
                <img src="/images/12274394_1660634447544969_6125423113705630041_n.jpg" style="margin-right:20px"/>
            </div>
            <div class="col-md-4">
                <img src="/images/12278896_1660634394211641_5366496844614820127_n.jpg" style="margin-right:20px" />
            </div>
            <div class="col-md-4">
                <img src="/images/12294852_1660634417544972_6677057132057906729_n.jpg" style="margin-right:20px" />
            </div>
        </div>
            </section>
   </footer>
           </div>
</body>
</html>
