@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Music</title>
</head>
<body>
        <div class="container">
            <div class="section-heading text-center">
                <p id="p2">database is not added yet so no information about music events are available</p>
            </div>
            <div>
                <footer>
                    <div class="row">
                        <div class="col-md-6">
                            <p id="p2">LAHORE: 
The young boy of yesterday, who pranced into the Pakistani music scene with “Aadat” showed the world that he has evolved into a mature artist with “Charkha Naulakha”. In a world where pretty much everything has been tried before and making it big means selling yourself short to commercial agents, Atif Aslam chose to step back and embrace the cultural poetry of the subcontinent. His crisp vocals, seasoned with a tinge of folksy dialect have given subcontinental poetry a new avatar. However, amidst all the hype and fanfare, Aslam feels that his music should undergo metamorphosis and be more about self-discovery.</p>
                        </div>
                        <div class="col-md-6">
                            <img src="/images/atif with guitar.jpg" style="width:100%; background-repeat:no-repeat; background-size:cover" />
                        </div>
                    </div>
                </footer>
            </div>
        </div>
</body>
</html>
