@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Photography</title>
</head>
<body>
    <div class="container">
          <div class="section-heading text-center">
                <p id="p2">database is not added yet so no information about photography events are available</p>
            </div>
        <footer>
            <div class="row">
                <div class="col-md-6">
                    <img src="/images/photographer.jpg" style="background-size:cover; width:100%" />
                </div>
                <div class="col-md-6">
                    <p id="p2">Fashion Photographer Abid Saleem is one of the honored and renowned Fashion photographers. Fashion Photographer Abid Saleem is a man who not only captures the looks of the person but also the matches it with the trends and Style technique, as they are also worth considerable to him.</p>

<p id="p2">Fashion Photographer Abid Saleem has God gifted quality make people’s dream come true, about their desired looks. Fashion Photographer Abid Saleem changed the average faces into the outstanding ones, through the magical lens of his camera; and makes an ordinary face, extraordinary. In fact, this is the obsession of the Fashion Photographer Abid Saleem to create a golden and unique expression.</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
