@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sciences</title>
</head>
<body>
    <div>
         <div class="container">
            <div class="section-heading text-center">
                <p id="p2">database is not added yet so no information about Sciences events are available</p>
            </div>
        <div>
        <footer>
            <img src="/images/dr.abdul.jpg" style="background-size:cover; width:100%; background-repeat:no-repeat" />
        </footer>
            </div>
    </div>
    </div>
</body>
</html>
