@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body style="background-color:lightgray">
    <div id="container">
      
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading text-center" style="background-color:darkslategray; margin-left:60px;">
               <h2 id="h2">Our Mission & vision</h2>
           <p id="p1" >Events AT is a informative website that gives you complete information about upcoming events</p>
           <p id="p1">Its an advance concept to make u people ensures that u ll never miss any event of ur interest</p>
        </div>
            </div>
            <div class="col-md-6">
                  <form method="post"; style="float:right">
                <table id="aboutus">
                    <tr>
                        <td><label id="u2">Username</label></td>
                        <td><input type="text" id="input" placeholder="Username" /></td>
                    </tr>
                    <tr>
                        <td><label id="u2">Email</label></td>
                        <td><input type="email" id="input" placeholder="Email" /></td>
                    </tr>
                    <tr>
                          <td><label id="u2">Leave a comment</label></td>
                    </tr>
                    <tr>
                        <td><img src="/images/comment.jpg" class="img-circle" id="imagecomm" /></td>
                        <td><textarea name="comment" id="input" placeholder="Write a comment"></textarea></td>
                    </tr>
                </table>
                <input type="submit" value="submit"  id="submit2"/>
            </form>
            </div>
        </div>
         

            <div class="section-heading text-center" style="margin-left:60px; margin-right:60px; background-color:aliceblue">
                <h2 id="h2">The Story Behind our Story</h2>
                <p id="p2">Raise your Hand if you want to get enrolled in events</p>
                <p id="p2">Raise your hand if you want to never miss an event of ur interest</p>
                <p id="p2">What about if  you want to go into an event and you'r trying hard to read it even from internet</p>
                <p id="p2">our main purpose is to solve your this problem and save your precious time</p>
            </div>
       
            <div class="section-heading text-center" style="margin-left:60px; margin-right:60px; background-color:darkkhaki  ">
                 <h2 id="h2">People & Culture</h2>
                <p id="p2">People have their views according to their personalities</p>
                <p id="p2">People want to know what othe other people think & what they actually want to do in their respective fields</p>
                <p id="p2">Events At will provide them a platform to get together</p>
        </div>
        <div>
            <img src="/images/event-management-recruitment.jpg" style="background-size:cover ;  background-repeat:no-repeat; width:100%" />
        </div>
        <div class="section-heading text-center">
              <h2 id="h2">Contact Us</h2>
            </div>
        <div class="row">
            <div class="col-md-6" >
                <img src="/images/images1.jpg"  style="margin-left:460px"/>
                 
                 </div>
            <div class="col-md-6">
                <p id="p2">EventsAt@gmail.com</p>
                <p id="p2">All copy rights reseverd</p>
            </div>
        </div>
            
    </div>
</body>
</html>
