@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categry</title>
     <script src="~/JS/bootstrap.js"></script>
    <script src="~/JS/jquery-2.1.4.min.js"></script>
    <link href="~/CSS/StyleSheet1.css" rel="stylesheet" />
     <link href="~/CSS/bootstrap.css" rel="stylesheet" />
   
</head>
<body id="b2">
      
    <section>
         <div class="container">
              <div class="btn-group"  role="group" aria-label="...">
             <a  id="bb" type="button" class="btn btn-default" href="/Category/Fashion">Fashion</a>
           <a  id="bb" type="button" class="btn btn-default" href="/Category/Music">Music</a>
           <a id="bb"  type="button" class="btn btn-default" href="/Category/Health">Health</a>
           <a  id="bb" type="button" class="btn btn-default" href="/Category/Photography">Photography</a>
           <a  id="bb" type="button" class="btn btn-default" href="/Category/Sciences">Sciences</a>
         </div> 
        <div class="row">
            <h1 id="h2">Fashion</h1>
            <div class="col-md-6">
                <img src="/images/Dance-traditional.jpg" class="img-rounded" />
            </div>
            <div class="col-xs-6">
                <p id="w1">Do you have interset in Fashion?</p>
                <p id="w11">Here's is fashion updates</p>
                <p id="w11">its most important for you to be update about what going on in fashion world</p>
            </div>
        </div>
              <div class="row">
            <h1 id="h2">Music & Entertainment</h1>
            
            <div class="col-md-6">
                <p id="w1">Music became the heart of new world</p>
                <p id="w11">A delightful way to express your emotions</p>
                <p id="w11">listen ur favourite Music band on 1 step</p>
            </div>
                  <div class="col-md-6">
                <img src="/images/new-band.png" class="img-rounded" />
            </div>
        </div>
              <div class="row">
            <h1 id="h2">Health</h1>
            <div class="col-md-6">
                <img src="/images/atlanta-private-cooking-classes-and-events2.jpg" class="img-circle" />
            </div>
            <div class="col-md-6">
                <p id="w2">Cooking is passion if u want to do it!</p>
                <p id="w12">This section provides u a very healthy Information about all healthy activities</p>
            </div>
        </div>
              <div class="row">
            <h1 id="h2">Photography</h1>
            
            <div class="col-md-6">
                <p id="w1">Adventure have its own attraction and caputre ur best moments is called photopgraphy </p>
                <p id="w11">A best collection of photos u can ever see</p>
            </div>
                  <div class="col-md-6">
                <img src="/images/event-photographer-scaled.jpg" class="img-circle" />
            </div>
        </div>
         <div class="row">
            <h1 id="h2">Sciences</h1>
            <div class="col-md-6">
                <img src="/images/new-google.png" class="img-polaroid" />
            </div>
            <div class="col-md-6">
                <p id="w3">Science is most powerful eqipment in this world in these times</p>
                <p id="w13">if u want to be flurish you must be step in in this field</p>
            </div>
        </div>
    </div>
        </section>
  

</body>
</html>
